.Reg-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E92A49;
    height: 100vh;
    width: 100%;
    overflow: auto;
  }
  
  .Reg-form {
    width: 70vh;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(247, 247, 247);
  }
  
  .Reg-form-content {
    padding-left: 6%;
    padding-right: 6%;
  }
  
  .Reg-form-title {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: bolder;
  }
  
  .Reg-form .form-group label {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-right: 100 !important;
    color: rgb(34, 34, 34);
    right: 0%;
  }

  .Reg-form button {
    margin-block: 15px;
    margin-left: 30%;
    margin-right: 30%;
  }